.auth-container {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 420px;
  padding: 30px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 12px;
  border: none;
  background: #eaeaea;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.tabs button.active {
  background: #2a72ff;
  color: white;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #2a72ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn:hover {
  background: #1b5bd9;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}
