/* frontend/src/styles/videoMeetOverrides.css */
video { background:#000; border-radius:8px; }
.remote-video { height: 200px; }
.local-video { height: 140px; width:100%; border:2px solid rgba(255,255,255,0.03); }
